<div style="padding-left: 30px;margin:5px 0;font-size: 15px">
	<span style='margin-right:10px'>
	<% if (moment(post.date).format("YYYY") == '2099'){ %>
        <span style="color: #31393e"><a class="<%= class_name %>" href="<%- url_for(post.path) %>" style="color: #31393e"><%= post.title %></a></span>
    <%  } else { %>
        <%= moment(post.date).format("YYYY/MM/DD") %>
        <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <%  } %>
	</span>
<div>
