<div class="row">
<% if(index == true){ %>
<div class="col-xs-12 blog-posts">
<% } else { %>
<div class="col-md-9 col-sm-9 blog-posts">
<% } %>

  <section class="archives-wrap">
    <div class="archives">
      <% site.categories.map(function(category){ %>

<div  style='line-height: 24px;margin-bottom: 20px;'>

    <div style='font-size:14px'>
        <strong><%= category.name %></strong>
    </div>
    <% category.posts.sort('date','desc').map(function(post){ %>
    <div style="padding-left: 30px;">
	<span style='margin-right:10px'>
    <%= moment(post.date).format("YYYY/MM/DD") %>
	</span>
        <a href="<%- config.root %><%- post.path %>">
                <%- post.title || "Untitled" %>
            <% if (post.subtitle && post.subtitle.length) { %>
                <%- post.subtitle %>
            <% } %>
        </a>
    </div>
    <% }) %>
</div>

<% }) %>
    </div>
  </section>

</div>
<% if(index == false){ %>
<div class="col-md-3 col-sm-3 blog-sidebar">
  <%- partial('sidebar') %>
</div>
<% } %>
</div>
